{% extends 'base.html.twig' %}

{% block main_template %}{% endblock %}

{% block body_header %}{% endblock %}

{% block body_accueil %}
    <main class="block_accueil">
        <a href="" class="planche">
            <img src="{{ asset('/build/images/connexion_brown.png') }}" alt="">
        </a>

        <a href="" class="planche">
            <img src="{{ asset('/build/images/inscription_brown.png') }}" alt="">
        </a>
    </main
{% endblock %}