{% extends 'base.html.twig' %}
{% block body %}

    <div class="second_header">
        <h2 class="h2_title">Choisissez un thème :</h2>
    </div>

    <ul>
        {% for theme in theme %}
            <li>
                <a href="{{ url('play_start', {"id": theme.id}) }}">{{ theme.name }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}