body {
    background: url('/build/images/background.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0
}
p {
    margin: 0;
}
ul, ol {
    margin: 0;
    padding: 0;
}
figure {
    margin: 0;
}
img {
    max-width: 100%;
}



/**************************************** HEADER ****************************************/
.block_header {
    padding: 3rem 1rem;
}

.block_main {
    padding: 0 2rem 10rem;
}

.block_main .template_planche {
    position: relative;
}
.block_main .template_planche .inner {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: .5rem 1rem;
}

.block_caribou {
    position: relative;
}
.block_caribou.caribou {
    position: absolute;
    right: 1rem;
    bottom: .3rem;
    width: 40%;
}




