<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="block_header">
            <figure class="block_logo">
                <img class="image_logo" src="{{ asset('/build/images/logo.png') }}" alt="logo tiguidou quizz">
            </figure>
        </header>

        <figure class="block_caribou">
            <img src="{{ asset('/build/images/caribou.png') }}" alt="caribou tiguidou">
        </figure>

        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
